/*
 * Make our date range displays less blocky and horrible.
 */
.page-node-edit .field-name-field-time-range div.start-date-wrapper,
.page-node-edit .field-name-field-time-range div.end-date-wrapper,
.page-node-edit .field-name-field-time-range div.end-date-wrapper label,
.page-node-edit .field-name-field-time-range div.end-date-wrapper div,
.page-node-add .field-name-field-time-range div.start-date-wrapper,
.page-node-add .field-name-field-time-range div.end-date-wrapper,
.page-node-add .field-name-field-time-range div.end-date-wrapper label,
.page-node-add .field-name-field-time-range div.end-date-wrapper div {
  clear:none;
  display:inline-block;
  width:auto;
  float:left;
}
.page-node-edit .field-name-field-time-range div.end-date-wrapper label,
.page-node-add .field-name-field-time-range div.end-date-wrapper label {
  vertical-align:middle;
}

/*
 * Hide the unnecessary second calendar popup for audition block time ranges,
 * which can never span more than one day.
 */
.page-node-edit .field-name-field-time-range .end-date-wrapper .date-padding div:first-child,
.page-node-add .field-name-field-time-range .end-date-wrapper .date-padding div:first-child {
  display:none;
}

.page-content .node-lottery-audition .field-name-field-lottery-time-blocks {
  font-weight:bold;
  font-size:1.2em;
}
.page-content .node-lottery-audition .field-label {
  padding-top:0.5em;
}

form.lottery_audition_signup .lottery_signup_submit {
  float:right;
  font-size:2.5em;
}

form.lottery_audition_signup div.lottery_audition_timeblock {
  display: inline-block;
  clear:left;
}
form.lottery_audition_signup div.lottery_audition_timeblock .lottery_audition_timeblock_text,
form.lottery_audition_signup div.lottery_audition_timeblock .lottery_audition_timeblock_paint,
form.lottery_audition_signup div.lottery_audition_timeblock .checkbox,
form.lottery_audition_signup div.lottery_audition_timeblock .checkbox input {
  position:static;
  clear:both;
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:1.3em;
}
form.lottery_audition_signup div.lottery_audition_timeblock .lottery_audition_timeblock_paint {
  height:2em;
  float:left;
  margin-bottom:0.2em;
  height:auto;
  width:auto;
  padding:0.3em;
  margin-right:0.1em;
  white-space:nowrap;
  cursor:pointer;
}
form.lottery_audition_signup div.lottery_audition_timeblock .lottery_audition_timeblock_paint_unchecked {
  background-color:DarkSalmon;
  border:1px solid gray;
  color:white;
}
form.lottery_audition_signup div.lottery_audition_timeblock .lottery_audition_timeblock_paint_checked {
  background-color:PaleGreen;
  border:1px solid gray;
  color:black;
}
form.lottery_audition_signup div.lottery_audition_timeblock .lottery_audition_timeblock_paint_disabled {
  cursor:not-allowed;
  border:1px solid lightgray;
  opacity: 0.6;
}

.lottery_audition_pending {
  background-color:#eeff82;
}

form.lottery_audition_signup fieldset.lottery_audition_timeblock_day {
  display:inline-block;
  padding:1em !important;
  clear:none;
  float:left;
  border:none;
}

form.lottery_audition_signup fieldset.lottery_audition_timeblock_day h4.lottery_audition_timeblock_day_title {
  font-size:1.5em;
  display:block;
  font-weight:bold;
}
form.lottery_audition_signup div.lottery_audition_address,
form.lottery_audition_signup div.lottery_audition_instructions {
  display:inline-block;
  text-align:left;
  float:left;
  padding-right:3em;
}
form.lottery_audition_signup div.lottery_audition_infoblock {
  text-decoration: underline;
}
form.lottery_audition_signup div.lottery_audition_infoblock {
  clear:both;
  font-size:1.3em;
  display:inline-block;
  width:100%;
  height:auto;
}
form.lottery_audition_signup fieldset.lottery_audition_signup_dummy_panel {
  display:none;
}
