/*
 * Make our date range displays less blocky and horrible.
 */
.field-name-field-time-range div.start-date-wrapper,
.field-name-field-time-range div.end-date-wrapper,
.field-name-field-time-range div.end-date-wrapper label,
.field-name-field-time-range div.end-date-wrapper div {
  clear:none;
  display:inline-block;
  width:auto;
  float:left;
}
.field-name-field-time-range div.end-date-wrapper label {
  vertical-align:middle;
}

/*
 * Hide the unnecessary second calendar popup for audition block time ranges,
 * which can never span more than one day.
 */
.field-name-field-time-range .end-date-wrapper .date-padding div:first-child {
  display:none;
}
